body{
    background-color:black;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    text-align: center;
    background: blue;
    color: whitesmoke;
}

p{
color:blue ;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
font-size: 80px;
background:black ;
color: white;
text-align: center;
}