body{
    background-color:black;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    text-align: center;
    background: blue;
    color: whitesmoke;
}
Estilizar os parágrafos
p{
color:blue ;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
font-size: 100px;
background:black ;
}